.ppchhel-17160 .ppchhel-element.ppchhel-element-5647177{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:12%;--padding-bottom:2%;--padding-left:12%;--padding-right:12%;}.ppchhel-17160 .ppchhel-element.ppchhel-element-a739798{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-start;--align-items:flex-start;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0%;--padding-bottom:0%;--padding-left:0%;--padding-right:0%;}.ppchhel-17160 .ppchhel-element.ppchhel-element-a739798.e-con{--order:-99999 /* order start hack */;}.ppchhel-17160 .ppchhel-element.ppchhel-element-c92aa22{width:initial;max-width:initial;text-align:start;}.ppchhel-17160 .ppchhel-element.ppchhel-element-c92aa22.ppchhel-element{--align-self:flex-start;}.ppchhel-17160 .ppchhel-element.ppchhel-element-c92aa22 img{width:400px;}.ppchhel-17160 .ppchhel-element.ppchhel-element-fc0c23e{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--align-items:stretch;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;--e-transform-origin-x:right;--e-transform-origin-y:center;}.ppchhel-17160 .ppchhel-element.ppchhel-element-0d8a9bf > .ppchhel-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.ppchhel-17160 .ppchhel-element.ppchhel-element-0d8a9bf .ppchhel-nav-menu .ppchhel-item{font-family:"alternate-gothic-condensed-a", Sans-serif;letter-spacing:1.1px;word-spacing:0px;}.ppchhel-17160 .ppchhel-element.ppchhel-element-0d8a9bf .ppchhel-nav-menu--main .ppchhel-item{color:var( --e-global-color-text );fill:var( --e-global-color-text );padding-left:10px;padding-right:10px;}.ppchhel-17160 .ppchhel-element.ppchhel-element-0d8a9bf .ppchhel-nav-menu--main .ppchhel-item:hover,
					.ppchhel-17160 .ppchhel-element.ppchhel-element-0d8a9bf .ppchhel-nav-menu--main .ppchhel-item.ppchhel-item-active,
					.ppchhel-17160 .ppchhel-element.ppchhel-element-0d8a9bf .ppchhel-nav-menu--main .ppchhel-item.highlighted,
					.ppchhel-17160 .ppchhel-element.ppchhel-element-0d8a9bf .ppchhel-nav-menu--main .ppchhel-item:focus{color:var( --e-global-color-accent );fill:var( --e-global-color-accent );}.ppchhel-17160 .ppchhel-element.ppchhel-element-45e0df7 > .ppchhel-widget-container{padding:10px 10px 0px 10px;}.ppchhel-17160 .ppchhel-element.ppchhel-element-45e0df7 .ppchhel-widget-container{--e-transform-origin-x:center;--e-transform-origin-y:center;}.ppchhel-17160 .ppchhel-element.ppchhel-element-45e0df7{--lottie-container-width:30px;}.ppchhel-17160 .ppchhel-element.ppchhel-element-31f0520{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:2%;--padding-bottom:2%;--padding-left:15%;--padding-right:15%;}.ppchhel-17160 .ppchhel-element.ppchhel-element-31f0520:not(.ppchhel-motion-effects-element-type-background), .ppchhel-17160 .ppchhel-element.ppchhel-element-31f0520 > .ppchhel-motion-effects-container > .ppchhel-motion-effects-layer{background-color:#FFFFFFAB;}.ppchhel-17160 .ppchhel-element.ppchhel-element-6d2bc6d{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--margin-top:5%;--margin-bottom:0%;--margin-left:0%;--margin-right:0%;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.ppchhel-17160 .ppchhel-element.ppchhel-element-6d2bc6d.e-con{--flex-grow:0;--flex-shrink:0;}.ppchhel-17160 .ppchhel-element.ppchhel-element-0c5adda{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:0%;--padding-bottom:0%;--padding-left:0%;--padding-right:0%;}.ppchhel-17160 .ppchhel-element.ppchhel-element-61e692b > .ppchhel-widget-container{background-color:#00000000;margin:0px -5px 0px 0px;padding:0px 0px 0px 0px;}.ppchhel-17160 .ppchhel-element.ppchhel-element-61e692b.ppchhel-element{--align-self:flex-end;}.ppchhel-17160 .ppchhel-element.ppchhel-element-61e692b{--lottie-container-width:40px;}.ppchhel-17160{margin:0px 0px 0px 0px;}.ppchhel-theme-builder-content-area{height:400px;}.ppchhel-location-header:before, .ppchhel-location-footer:before{content:"";display:table;clear:both;}@media(max-width:1024px){.ppchhel-17160 .ppchhel-element.ppchhel-element-31f0520{--padding-top:2%;--padding-bottom:2%;--padding-left:5%;--padding-right:0%;}.ppchhel-17160 .ppchhel-element.ppchhel-element-31f0520.e-con{--align-self:flex-start;}.ppchhel-17160 .ppchhel-element.ppchhel-element-6d2bc6d{--min-height:100px;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--margin-top:0%;--margin-bottom:0%;--margin-left:0%;--margin-right:0%;--padding-top:0%;--padding-bottom:0%;--padding-left:0%;--padding-right:0%;}.ppchhel-17160 .ppchhel-element.ppchhel-element-0c5adda{--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0%;--margin-bottom:0%;--margin-left:0%;--margin-right:10%;--padding-top:0%;--padding-bottom:0%;--padding-left:0%;--padding-right:0%;}.ppchhel-17160 .ppchhel-element.ppchhel-element-61e692b > .ppchhel-widget-container{margin:0px 0px 0px 0px;padding:10px 0px 0px 0px;}.ppchhel-17160 .ppchhel-element.ppchhel-element-61e692b{z-index:2222;}}@media(min-width:768px){.ppchhel-17160 .ppchhel-element.ppchhel-element-a739798{--width:40%;}.ppchhel-17160 .ppchhel-element.ppchhel-element-fc0c23e{--width:60%;}.ppchhel-17160 .ppchhel-element.ppchhel-element-6d2bc6d{--width:25%;}.ppchhel-17160 .ppchhel-element.ppchhel-element-0c5adda{--width:75%;}}@media(max-width:1024px) and (min-width:768px){.ppchhel-17160 .ppchhel-element.ppchhel-element-31f0520{--width:100%;}.ppchhel-17160 .ppchhel-element.ppchhel-element-6d2bc6d{--width:40%;}.ppchhel-17160 .ppchhel-element.ppchhel-element-0c5adda{--width:55%;}}@media(max-width:767px){.ppchhel-17160 .ppchhel-element.ppchhel-element-31f0520{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:5%;--padding-bottom:0%;--padding-left:2%;--padding-right:2%;--z-index:2222;}.ppchhel-17160 .ppchhel-element.ppchhel-element-6d2bc6d{--width:75%;--margin-top:0%;--margin-bottom:0%;--margin-left:3%;--margin-right:0%;--padding-top:5%;--padding-bottom:5%;--padding-left:0%;--padding-right:0%;}.ppchhel-17160 .ppchhel-element.ppchhel-element-4d4a716 > .ppchhel-widget-container{margin:0% 0% 0% 0%;padding:0px 0px 0px 0px;}.ppchhel-17160 .ppchhel-element.ppchhel-element-4d4a716.ppchhel-element{--order:-99999 /* order start hack */;}.ppchhel-17160 .ppchhel-element.ppchhel-element-4d4a716{text-align:start;}.ppchhel-17160 .ppchhel-element.ppchhel-element-4d4a716 img{width:100%;height:50px;object-fit:contain;}.ppchhel-17160 .ppchhel-element.ppchhel-element-0c5adda{--width:22%;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-end;--align-items:flex-end;--gap:15px 15px;--row-gap:15px;--column-gap:15px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:20px;}.ppchhel-17160 .ppchhel-element.ppchhel-element-0c5adda.e-con{--align-self:center;--flex-grow:1;--flex-shrink:0;}.ppchhel-17160 .ppchhel-element.ppchhel-element-61e692b > .ppchhel-widget-container{margin:-20px 0px 0px 0px;padding:0px 0px 0px 0px;}.ppchhel-17160 .ppchhel-element.ppchhel-element-61e692b{--lottie-container-width:35px;}}/* Start custom CSS for lottie, class: .ppchhel-element-45e0df7 */#hamburger-menu    {
  /*  background-color: #9e2339!important;*/
  background-color: #837976!important;
}/* End custom CSS */
/* Start custom CSS for container, class: .ppchhel-element-5647177 */header.sticky-header
{
    padding-top:25px ;
    padding-bottom:25px ;
}



header.ppchhel-element.ppchhel-element-5647177.e-con-full.sticky-header.ppchhel-hidden-tablet.ppchhel-hidden-mobile.e-flex.e-con.e-parent.ppchhel-sticky.ppchhel-sticky--active.ppchhel-section--handles-inside.ppchhel-motion-effects-parent.animated.fadeInDown.ppchhel-sticky--effects
{
    padding-top:5px ;
    padding-bottom:5px ;
}








/***
* class: .sticky-header
*/
header.sticky-header {
background-color: rgba(244, 245, 248, 1);
	box-shadow: 0px 4px 33px 1px rgba(0, 0, 0, .07);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
		--shrink-header-to: 1;
/*	--transition: .45s cubic-bezier(.4, 0, .2, 1);*/
		--transition: ease-in-out;
}
				
				
}

/***
* Sticky header activated
*/
header.sticky-header.ppchhel-sticky--effects {
	--header-height: 90px!important;
	--shrink-header-to: 0.6;
	--transition: .7s cubic-bezier(.4, 0, .2, 1);
    background-color: rgba (244, 245, 248, 1)!important;
		-webkit-backdrop-filter: saturate(100%) blur(0px)!important;
	backdrop-filter: saturate(100%) blur(0px)!important;
/*	transition: background-color var(--transition),
				backdrop-filter var(--transition),
				box-shadow var(--transition);   */
}

header.sticky-header > .ppchhel-container {
	min-height: var(--header-height);
	transition: min-height var(--transition);
	
	
	
	
}
header.sticky-header.ppchhel-sticky--effects > .ppchhel-container {
	min-height: calc( var(--header-height) * var(--shrink-header-to) );
/*	--header-height: 50px!important;
	--shrink-header-to: 50px!important;  */
}


/***
* Shorter header on mobile (70px instead of 100px)
*/
@media only screen and (max-width: 767px) {
	header.sticky-header {
		--header-height: 70px;
	}
}

/***
* class: .logo
*/
header.sticky-header .logo img {
	transition: transform var(--transition);
transform-origin: left;
}
header.sticky-header.ppchhel-sticky--effects .logo img {
	transform: scale(.8);
	transform-origin: left;
}


/***
* Optional: Change menu font size on Scroll
*/
header.sticky-header.ppchhel-sticky--effects .ppchhel-nav-menu .ppchhel-item {
  font-size: .9em !important;
}







 /*-----Opacity when hovered ----*/
 .ppchhel-nav-menu--layout-horizontal .ppchhel-nav-menu>li:hover  {
     opacity:1!important;
 }/* End custom CSS */
/* Start custom CSS for container, class: .ppchhel-element-0c5adda */#vert-align-items  {
vertical-align: middle;
}/* End custom CSS */
/* Start custom CSS for container, class: .ppchhel-element-31f0520 */header.sticky-header
{
    padding-top:25px ;
    padding-bottom:25px ;
}



header.ppchhel-element.ppchhel-element-5647177.e-con-full.sticky-header.ppchhel-hidden-tablet.ppchhel-hidden-mobile.e-flex.e-con.e-parent.ppchhel-sticky.ppchhel-sticky--active.ppchhel-section--handles-inside.ppchhel-motion-effects-parent.animated.fadeInDown.ppchhel-sticky--effects
{
    padding-top:5px ;
    padding-bottom:5px ;
}








/***
* class: .sticky-header
*/
header.sticky-header {
background-color: rgba(244, 245, 248, 1);
	box-shadow: 0px 4px 33px 1px rgba(0, 0, 0, .07);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
		--shrink-header-to: 1;
	--transition: .45s cubic-bezier(.4, 0, .2, 1);
}
				
				
}

/***
* Sticky header activated
*/
header.sticky-header.ppchhel-sticky--effects {
	--header-height: 90px!important;
	--shrink-header-to: 0.6;
	--transition: .7s cubic-bezier(.4, 0, .2, 1);
    background-color: rgba (244, 245, 248, 1)!important;
		-webkit-backdrop-filter: saturate(100%) blur(0px)!important;
	backdrop-filter: saturate(100%) blur(0px)!important;
/*	transition: background-color var(--transition),
				backdrop-filter var(--transition),
				box-shadow var(--transition);   */
}

header.sticky-header > .ppchhel-container {
	min-height: var(--header-height);
	transition: min-height var(--transition);
	
	
	
	
}
header.sticky-header.ppchhel-sticky--effects > .ppchhel-container {
	min-height: calc( var(--header-height) * var(--shrink-header-to) );
/*	--header-height: 50px!important;
	--shrink-header-to: 50px!important;  */
}


/***
* Shorter header on mobile (90px instead of 100px)
*/
@media only screen and (max-width: 767px) {
	header.sticky-header {
		--header-height: 50px;
		    padding-top:0px ;
    padding-bottom:0px ;
	}
	#mobile-header  {
	    max-height:90px;
	}
		#hamburger-menu  {
	    padding-right:0px!important;
	}
}


@media only screen and (min-width: 767px) and (max-width: 1024px) {
	header.sticky-header {
		--header-height: 50px;
		    padding-top:0px ;
    padding-bottom:0px ;
	}
	#mobile-header  {
	    max-height:120px;
	}
	#hamburger-menu  {
    padding-top:0px!important;
    padding-right:0px!important;
    margin-top:-30px!important;
	}
	.ppchhel-17160 .ppchhel-element.ppchhel-element-0c5adda.e-con {
    margin-top: 20px !important;
    align-self: center;
}
}


/***
* class: .logo
*/
header.sticky-header .logo img {
	transition: transform var(--transition);
transform-origin: left;
}
header.sticky-header.ppchhel-sticky--effects .logo img {
	transform: scale(.8);
	transform-origin: left;
}


/***
* Optional: Change menu font size on Scroll
*/
header.sticky-header.ppchhel-sticky--effects .ppchhel-nav-menu .ppchhel-item {
  font-size: .9em !important;
}







 /*-----Opacity when hovered ----*/
 .ppchhel-nav-menu--layout-horizontal .ppchhel-nav-menu>li:hover  {
     opacity:1!important;
 }/* End custom CSS */