/*
 * The webfont service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_webfont. For font license
 * information, see the list below.
 *
 * adobe-garamond-pro:
 *   - http://webfont.com/eulas/00000000000000003b9b00c5
 *   - http://webfont.com/eulas/00000000000000003b9b00c6
 *   - http://webfont.com/eulas/00000000000000003b9b00c1
 * alternate-gothic-condensed-a:
 *   - http://webfont.com/eulas/00000000000000007735c716
 *   - http://webfont.com/eulas/00000000000000007735c721
 *   - http://webfont.com/eulas/00000000000000007735c725
 * effra:
 *   - http://webfont.com/eulas/00000000000000003b9b489b
 *   - http://webfont.com/eulas/00000000000000003b9b489a
 *   - http://webfont.com/eulas/00000000000000003b9b489e
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2024-12-10 17:57:18 UTC"}*/

@import url("/assets-f/css/d29c1a3ccf53f8.css");



















.tk-adobe-garamond-pro { font-family: "adobe-garamond-pro",serif; }
.tk-effra { font-family: "effra",sans-serif; }
.tk-trade-gothic-next-compressed { font-family: "trade-gothic-next-compressed",sans-serif; }
.tk-trade-gothic-next-condensed { font-family: "trade-gothic-next-condensed",sans-serif; }
.tk-alternate-gothic-atf { font-family: "alternate-gothic-atf",sans-serif; }
.tk-alternate-gothic-condensed-a { font-family: "alternate-gothic-condensed-a",sans-serif; }
